@media(min-width: 1024px) {
    body>header.is-fixed-above-lg {
        z-index:2;
        position: sticky;
        top: 0;
        -webkit-backdrop-filter: blur(1rem);
        backdrop-filter: blur(1rem);
        transition: border-top-color .4s ease-in-out,box-shadow .4s ease-in-out
    }

    body>header.is-fixed-above-lg.is-fixed {
        box-shadow: var(--pico-card-box-shadow)
    }
}